<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Cox_Auto_Assignment" verbose="1" >
  
   <test name="Test_Cases_in_Firefox" >
  <parameter name="BrowserType"  value="chrome"/>
      <classes>
       <class name="TestCases.TestCases" />
    </classes>
  </test>
  
 
  </suite>
 
 